.call.call {
  right: 0;
  bottom: 0;
  width: initial;
  height: initial;
  overflow: hidden;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.vector {
  position: absolute;
  left: 0;
  right: 16.7917%;
  top: 16.6667%;
  bottom: 0;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
